/* Home.jsx */
.home {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoice-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.invoice-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.card-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.btn-primary {
  background: #7c5dfa;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* InvoiceForm.jsx */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group label {
  font-size: 13px;
  color: #555;
}

.input:focus,
select:focus {
  outline: none;
  border-color: #7c5dfa;
}

.error {
  border-color: red;
}

.error-text {
  color: red;
  font-size: 12px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* InvoiceCard.jsx */
.invoice-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media (max-width: 600px) {
  /* Home */
  .invoice-card {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .form {
    width: 90%;
  }
}


